<!doctype html>
<html lang="en">
{{template "head" printf "Viewing %s" .Title }}
<body>
<h1>{{.Title}}</h1>
<p>[<a href="/edit/{{.Title}}">edit</a>]</p>
<div>{{printf "%s" .Body}}</div>
<br>
<p><a href="/list/">Go back</a></p>
</body>
</html>